
data/wn18/Wordnet3.0-LICENSE
data/wn18/wordnet-mlj12-train.txt
data/wn18/wordnet-mlj12-test.txt
data/wn18/wordnet-mlj12-valid.txt
data/UMLS/test.txt
data/UMLS/train.txt
data/UMLS/valid.txt
data/FB15K-237.2/Release/test.txt
data/FB15K-237.2/Release/MSR-LA_Data_Full Rights_FB15K-237 Knowledge Base Completion Dataset (2650).docx
data/FB15K-237.2/Release/README.txt
data/FB15K-237.2/Release/text_cvsc.txt
data/FB15K-237.2/Release/text_emnlp.txt
data/FB15K-237.2/Release/valid.txt
data/FB15K-237.2/Release/train.txt
data/FB15K-237/relation2id.txt
data/FB15K-237/test.txt
data/FB15K-237/entity2id.txt
data/FB15K-237/valid.txt
data/Kinship/entity2id.txt
data/Kinship/relation2id.txt
data/Kinship/test.txt
data/Kinship/train.txt
data/Kinship/valid.txt
data/UMLS/entity2id.txt
data/UMLS/relation2id.txt
data/wn18/entity_strings.del
data/wn18/README
GNN/.idea/dbnavigator.xml
GNN/.idea/deployment.xml
GNN/.idea/GNN.iml
GNN/.idea/inspectionProfiles/profiles_settings.xml
GNN/.idea/misc.xml
GNN/.idea/vcs.xml
GNN/.idea/webServers.xml
GNN/.idea/modules.xml
GNN/.idea/inspectionProfiles/Project_Default.xml
GNN/.idea/GNN.iml
GNN/.idea/GNN.iml
GNN/.idea/GNN.iml
.idea/vcs.xml
.idea/NLP.iml
.idea/deployment.xml
.idea/dbnavigator.xml
