
src/wn18/Wordnet3.0-LICENSE
src/wn18/wordnet-mlj12-train.txt
src/wn18/wordnet-mlj12-test.txt
src/wn18/wordnet-mlj12-valid.txt
src/UMLS/test.txt
src/UMLS/train.txt
src/UMLS/valid.txt
src/FB15K-237.2/Release/test.txt
src/FB15K-237.2/Release/MSR-LA_Data_Full Rights_FB15K-237 Knowledge Base Completion Dataset (2650).docx
src/FB15K-237.2/Release/README.txt
src/FB15K-237.2/Release/text_cvsc.txt
src/FB15K-237.2/Release/text_emnlp.txt
src/FB15K-237.2/Release/valid.txt
src/FB15K-237.2/Release/train.txt
src/FB15K-237/relation2id.txt
src/FB15K-237/test.txt
src/FB15K-237/entity2id.txt
src/FB15K-237/valid.txt
src/Kinship/entity2id.txt
src/Kinship/relation2id.txt
src/Kinship/test.txt
src/Kinship/train.txt
src/Kinship/valid.txt
src/UMLS/entity2id.txt
src/UMLS/relation2id.txt
src/wn18/entity_strings.del
src/wn18/README
